@model IEnumerable<DAL_B3.DomainClass.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>
    <div class="row">
        <div class="col-3">
            <select class="form-control" id="filter" name="filter" asp-items="@ViewBag.isStatus">
                <option selected>Mời bạn chọn</option>
            </select>
        </div>
        <div class="col-3">
            <input type="submit" value="Tìm" class="btn btn-success" />
        </div>
        <div class="col-3">
            <a class="btn btn-primary" asp-action="Create">Thêm mới</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tài khoản
                </th>
                <th>
                    Mô tả
                </th>
                <th>
                    Điện thoại
                </th>
                <th>
                    Người tạo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Status == true)
                {
                    <tr>
                        <td>
                            @item.UserName
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.Phone
                        </td>
                        <td>
                            @item.CreatedPerson
                        </td>
                        <td>
                            <a class="btn btn-primary btn-tone m-r-5" asp-action="Update" asp-route-id="@item.UserId">Sửa</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UserId">Xóa</a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            @item.UserName
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.Phone
                        </td>
                        <td>
                            @item.CreatedPerson
                        </td>
                        <td>
                            <a class="btn btn-primary btn-tone m-r-5" asp-action="Update" asp-route-id="@item.UserId">Phục hồi</a>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</form>