@model IEnumerable<DAL_B3.DomainClass.Group>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form>
    <div class="row m-b-30">
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Mời bạn nhập..." id="keyword" name="keyword">
            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
        </div>
        <div class="col-3">
            <select class="form-control" id="GroupId" name="GroupId" asp-items="@ViewBag.isStatus">
                <option selected>Mời bạn chọn</option>
            </select>
        </div>
        <div class="col" style="text-align: end;">
            <a class="btn btn-primary" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span style="color: white">Thêm mới</span></a>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Mã nhóm
                    </th>
                    <th>
                        Mô tả
                    </th>
                    <th>
                        Người tạo
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                        Ngày bắt đầu
                    </th>
                    <th>
                        Ngày kết thúc
                    </th>
                    <th>Nghiệp vụ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if(item.Status == true)
                    {
                        <tr>
                            <td>
                                @item.GroupCode
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td>
                                @item.CreatedPerson
                            </td>
                            <td>
                                @if (item.Status == true)
                                {
                                    <a>Active</a>
                                }
                                else
                                {
                                    <a>InActive</a>
                                }
                            </td>
                            <td>
                                @if (item.FromDate == null)
                                {
                                    <a>Vô thời hạn</a>
                                }
                                else
                                {
                                    <a>@item.FromDate?.ToString("dd/MM/yyyy")</a>
                                }
                            </td>
                            <td>
                                @if (item.ToDate == null)
                                {
                                    <a>Vô thời hạn</a>
                                }
                                else
                                {
                                    <a>@item.ToDate?.ToString("dd/MM/yyyy")</a>
                                }
                            </td>
                            <td>
                                <a class="btn-success btn" asp-action="Update" asp-route-id="@item.GroupId">Edit</a> |
                                <a class="btn-danger btn" asp-action="Delete" asp-route-id="@item.GroupId">Xóa</a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @item.GroupCode
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td>
                                @item.CreatedPerson
                            </td>
                            <td>
                                @if (item.Status == true)
                                {
                                    <a>Active</a>
                                }
                                else
                                {
                                    <a>InActive</a>
                                }
                            </td>
                            <td>
                                @if (item.FromDate == null)
                                {
                                    <a>Vô thời hạn</a>
                                }
                                else
                                {
                                    <a>@item.FromDate?.ToString("dd/MM/yyyy")</a>
                                }
                            </td>
                            <td>
                                @if (item.ToDate == null)
                                {
                                    <a>Vô thời hạn</a>
                                }
                                else
                                {
                                    <a>@item.ToDate?.ToString("dd/MM/yyyy")</a>
                                }
                            </td>
                            <td>
                                <a class="btn-success btn" asp-action="Update" asp-route-id="@item.GroupId">Phục hồi</a> 
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</form>
<script src="~/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        jQuery("#GroupId").change(function () {
            var _Store = jQuery(this).children(":selected").attr("value");
            store = _Store;
            $("#GroupId option").removeAttr('selected');
            $("#GroupId > [value=" + store + "]").attr("selected", "true");

            $.ajax({
                url: '/Group/Filter',
                datatype: "json",
                type: "GET",
                data: { filter: store },
                async: true,
                success: function (results) {
                    if (results.status == "success") {
                        window.location.href = results.redirectUrl;
                    }
                },
                error: function (xhr) {
                    alert('Lỗi rồi')
                }
            });
        });
    });
</script>